<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" type="image/svg+xml" href="static/img/icons/rice.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body>
    {% include "nav.html" %}
    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
</body>

</html>